<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santuario Dana Tagoro | Refugio de Animales</title>
    <meta name="description" content="El Santuario Dana Tagoro es un refugio comprometido con el rescate y cuidado de animales en situación de abandono o maltrato. ¡Únete y ayuda!">
    <meta name="keywords" content="santuario de animales, refugio de animales, rescate animal, adopción, voluntariado, donaciones, protección animal">
    <meta name="author" content="Santuario Dana Tagoro">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Santuario Dana Tagoro | Refugio de Animales">
    <meta property="og:description" content="Refugio comprometido con el rescate y cuidado de animales en abandono o maltrato. Únete y ayuda.">
    <meta property="og:image" content="/images/logo.jpg">
    <meta property="og:url" content="https://www.santuariodanatagoro.org">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    {{ range .Site.Params.favicon32 -}}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ . | absURL }}">
    {{- end }}
  
    {{ range .Site.Params.favicon16 -}}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ . | absURL }}">
    {{- end }}

    {{ range .Site.Params.appletouch_favicon -}}
        <link rel="apple-touch-icon" type="image/png" sizes="32x32" href="{{ . | absURL }}">
    {{- end }}

    {{ range .Site.Params.web_manifest -}}
        <link rel="manifest" href="{{ . | absURL }}">
    {{- end }}
    
    

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "AnimalShelter",
        "name": "Santuario Dana Tagoro",
        "url": "{{ .Site.BaseURL }}",
        "logo": "{{ .Site.BaseURL }}/images/",
        "description": "Santuario y refugio de animales en situación de abandono o maltrato.",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "España",
          "addressCountry": "ES"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "contactType": "customer support",
          "email": "santuariodanatagorogerencia@gmail.com",
          "telephone": "+34 655 85 01 05"
        },
        "sameAs": [
          "https://www.instagram.com/santuariodanatagoro/"
        ]
      }
      </script>
      
      {{ range .Site.Params.custom_css -}}
          <link rel="stylesheet" href="{{ . | absURL }}">
      {{- end }}


</head>